* {
  box-sizing: border-box;
}
body {
  font-family: 'Spartan', sans-serif;
}
.tablero {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #030;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  float: left;
  position: relative;
}
.tablero.off:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.casilla {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #fff;
  font-size: 82px;
  font-weight: bold;
  position: relative;
}
.casilla:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8px;
}
.casilla[data-jugador="1"]:before {
  content: "X"
}
.casilla[data-jugador="2"]:before {
  content: "O"
}
.info {
  float: left;
  margin-left: 50px;
  background-color: mediumslateblue;
  width: 400px;
  height: 200px;
  position: relative;
  padding: 10px;
  border: 1px solid #000;
}
.info .turno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 50px;
  font-weight: bold;
}
